[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
    ignore= dirty
[submodule "bundle/vim-git"]
	path = bundle/vim-git
	url = http://github.com/tpope/vim-git.git
    ignore= dirty
[submodule "bundle/vim-unimpaired"]
	path = bundle/vim-unimpaired
	url = http://github.com/tpope/vim-unimpaired.git
    ignore= dirty
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = http://git@github.com/scrooloose/nerdtree.git
    ignore= dirty
[submodule "bundle/tasklist"]
	path = bundle/tasklist
	url = http://github.com/vim-scripts/TaskList.vim.git
    ignore = dirty
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = http://github.com/scrooloose/nerdcommenter.git
    ignore= dirty
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
    ignore = dirty
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = git://github.com/ujihisa/vim-markdown.git
    ignore = dirty
[submodule "bundle/screen"]
	path = bundle/screen
	url = git://github.com/ervandew/screen.git
    ignore = dirty
[submodule "bundle/gundo.vim"]
	path = bundle/gundo.vim
	url = git://github.com/sjl/gundo.vim.git
    ignore = dirty
[submodule "bundle/vim-multimarkdown"]
	path = bundle/vim-multimarkdown
	url = git://github.com/jngeist/vim-multimarkdown.git
    ignore = dirty
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
    ignore = dirty
[submodule "bundle/vim-python-mode"]
	path = bundle/vim-python-mode
	url = git://github.com/klen/python-mode.git
    ignore = dirty
