[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
    ignore= dirty
[submodule "bundle/vim-git"]
	path = bundle/vim-git
	url = http://github.com/tpope/vim-git.git
    ignore= dirty
[submodule "bundle/vim-unimpaired"]
	path = bundle/vim-unimpaired
	url = http://github.com/tpope/vim-unimpaired.git
    ignore= dirty
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = http://git@github.com/scrooloose/nerdtree.git
    ignore= dirty
[submodule "bundle/pep8"]
	path = bundle/pep8
	url = http://git@github.com/vim-scripts/pep8
    ignore= dirty
[submodule "bundle/tasklist"]
	path = bundle/tasklist
	url = http://github.com/vim-scripts/TaskList.vim.git
    ignore = dirty
[submodule "bundle/pydoc"]
	path = bundle/pydoc
	url = http://github.com/fs111/pydoc.vim.git
    ignore = dirty
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = http://github.com/scrooloose/nerdcommenter.git
    ignore= dirty
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
    ignore = dirty
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = git://github.com/ujihisa/vim-markdown.git
    ignore = dirty
[submodule "bundle/screen"]
	path = bundle/screen
	url = git://github.com/ervandew/screen.git
    ignore = dirty
[submodule "bundle/vim-flake8"]
	path = bundle/vim-flake8
	url = git://github.com/nvie/vim-flake8.git
    ignore = dirty
