[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
    ignore = dirty
[submodule "bundle/vim-git"]
	path = bundle/vim-git
	url = https://github.com/tpope/vim-git.git
    ignore = dirty
[submodule "bundle/vim-unimpaired"]
	path = bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
    ignore = dirty
[submodule "bundle/tasklist"]
	path = bundle/tasklist
	url = https://github.com/vim-scripts/TaskList.vim.git
    ignore = dirty
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
    ignore = dirty
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
    ignore = dirty
[submodule "bundle/gundo.vim"]
	path = bundle/gundo.vim
	url = https://github.com/sjl/gundo.vim.git
    ignore = dirty
[submodule "bundle/vim-multimarkdown"]
	path = bundle/vim-multimarkdown
	url = git@github.com:aaren/vim-multimarkdown.git
    ignore = dirty
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
    ignore = dirty
[submodule "bundle/vim-python-mode"]
	path = bundle/vim-python-mode
	url = https://github.com/klen/python-mode.git
    ignore = dirty
[submodule "bundle/gitv"]
	path = bundle/gitv
	url = https://github.com/vim-scripts/gitv.git
    ignore = dirty
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
    ignore = dirty
[submodule "bundle/ack"]
	path = bundle/ack
	url = https://github.com/mileszs/ack.vim.git
    ignore = dirty
[submodule "bundle/vim-gnupg"]
	path = bundle/vim-gnupg
	url = https://github.com/jamessan/vim-gnupg.git
    ignore = dirty
[submodule "bundle/vim-ipython"]
	path = bundle/vim-ipython
	url = https://github.com/ivanov/vim-ipython.git
    ignore = dirty
[submodule "bundle/goyo"]
	path = bundle/goyo
	url = https://github.com/junegunn/goyo.vim.git
    ignore = dirty
[submodule "bundle/lite-dfm"]
	path = bundle/lite-dfm
	url = https://github.com/bilalq/lite-dfm.git
    ignore = dirty
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "bundle/jedi-vim"]
	path = bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "bundle/vim-scratch"]
	path = bundle/vim-scratch
	url = https://github.com/duff/vim-scratch.git
[submodule "bundle/vim-markdown-folding"]
	path = bundle/vim-markdown-folding
	url = git@github.com:nelstrom/vim-markdown-folding.git
[submodule "bundle/pytest.vim"]
	path = bundle/pytest.vim
	url = git@github.com:alfredodeza/pytest.vim.git
